*{
  box-sizing: border-box;
}

body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0
}

body {
  font-size: 16px;
  color: #101010;
  font-family: MicrosoftYaHei;
  background: #FFFFFF;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  color: #101010;
}

a {
  font-size: 14px;
  color: #0289FF;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

em,
i {
  font-style: normal;
}

li {
  list-style: none;
}

img {
  border: 0;
  vertical-align: middle;
}

em {
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

p {
  word-wrap: break-word
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after {
  content: "020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}

/* 版心 */
.container {
  width: 1180px;
  margin: 0 auto;
  background-color: #fff;
  padding: 0 30px;
}
